*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'poppins';
    background-color: var(--cinza);
}

:root{
    --corprimaria: #181828;
    --cinza: #D9D9D9;
    
    
}

header{
    display: flex;
    justify-content: space-between;
    background-color: var(--corprimaria);
    height: 5rem;
    align-items: center;
    justify-content: center;
    
    
}

#logo{
    color: white;
    font-family: 'Princess Sofia';
    font-size: 35px;
    font-weight: normal;
    padding-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu{
    width: 100%;
    display: flex;
    gap: 25px;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
#menu img{
    transform: translateY(20%);
    height:30px;
}
#links{
    display: flex;
    justify-content: center;
}
#links a{
    cursor: pointer;
    
}
#links li{
    transition: transform 0.3s ease;
}
#links li:hover{
    transform: scale(1.2);
}
#background{
    height: 100%;
    background-image: url("/img/8-harrypottermagia.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
#saga{
    height: 65rem;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    color: var(--cinza);
}
#saga img{
    padding-bottom: 55px;
}
#sagatitulo{
    font-size: 40px;
    font-family: 'italianno';
    font-size: 80px;
    font-weight: normal;
}
#sagaexplicacao{
    width: 40%;
    font-size: 20px;
    font-family: 'poppins';
    text-align: center;
}

#aberturahogwarts{
    font-weight: bold;
    justify-items: center;
    align-items: center;
    justify-content: center;
    height: 200px;
    display: grid;
    font-size: 30px;
    transform: translateY(13%);
    font-family: 'poppins';
}
#varinha{
    position: absolute;
    justify-items: center;
    align-items: center;
    justify-content: center;
    transform: translateY(-35%);
    width: 97%
    
}
#hogwarts{
    background-image: url("/img/3-paisagemhogwarts.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40rem;
    display: grid;
}
#textohog{
    color: white;
    justify-items: center;
    align-items: center;
    justify-content: center;
    height: 200px;
    display: flex;
    font-size: 50px;
    transform: translateY(105%);
    font-family: 'poppins';
}
#vermais{
    justify-items: bottom;
    align-items: bottom;
    justify-content: center;
    display: flex;
    background-color: rgba(250, 250, 250, 0.521);
    height:150px;
    transform: translateY(96.7%);
    font-family: 'poppins';
}
#linkhogwarts{
    color:black;
    text-decoration: none;
    align-items: center;
    justify-items: center;
    display: flex;
    font-size: 30px;
    transition: transform 0.3s ease;
}
#linkhogwarts:hover{
    transform: scale(1.2);
}
#inicialautora{
    background-color: var(--corprimaria);
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    
    height: 5rem;
    border-bottom: 1px solid;
    border-color: white;
}
#tituloautora{
    color: var(--cinza);
    font-size: 80px;
    font-family: 'italianno';
    font-weight: normal;
}
#rowling{
    background-color: var(--corprimaria);
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    height: 35rem;
    font-family: 'poppins';
}
#rowlingimg{
    height: 25rem;
    transform: translateX(-20%);
}
#rowlingnome{
    color: var(--cinza);
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    transform: translateX(20%);
}
#nomeprincipal{
    font-size: 80px;
    font-family: 'praise';
    letter-spacing: 10px;
    font-weight: normal;
}
#falaevida{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 50px;
    margin-bottom: -30px;
    gap: 30px;
    font-family: 'poppins';
}
#falas{
    background-color: var(--corprimaria);
    display: grid;
    border-radius: 50px;
    color: white;
    width: 35rem;
    height: 25rem;
}
#frases1, #frases2, #suavida{
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    font-size: 20px;
}
#vida{
    display: grid;
    width: 500px;
    border: 1px solid;
    border-radius: 50px;
    width: 35rem;
    height: 25rem;
    text-align: justify;
}
#areafilme{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    height: 30rem;
}
#botaofilme{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    background-color: var(--corprimaria);
    width: 25rem;
    height: 20rem;
    border-radius: 50px;
    color: white;
    text-decoration: none;
}
#linkfilme{
    color: white;
    text-decoration: none;
    font-size: 25px;
    transition: transform 0.3s ease;
    font-family: 'potta one';
}
#linkfilme:hover{
    transform: scale(2.0);
}
footer{
    background-color: var(--corprimaria);
    color: var(--cinza);
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    height: 13rem;
    font-family: 'princess sofia';
    font-weight: normal;
    font-size: 20px;
}
#redes{
    cursor: pointer;
    display: flex;
    gap: 25px;
    height: 50px;
    width: 50px;
    transform: translateX(-145%);
}
#redes img{
    transition: transform 0.3s ease;
}
#redes img:hover{
    transform: scale(1.5);
}

#epicsecret{
    opacity: 0;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
#aurafarm{
    display: none;
}

@media(max-width: 700px){
    body{
        width: 100%;
    }
    header{
        height: auto;
    }
    #logo{
        padding-right: 0px;
    }
    #menu{
        flex-direction: column;
    }
    #links{
        padding-bottom: 20px;
        padding-left: 25px;
        justify-content: space-between;
    }
    #background{
        border-top: 1px solid;
        border-color: white;
        width: 100%;
        background-image: none;
        background-color: var(--corprimaria);
        height: 100%;
    }
    #sagatitulo{
       font-size: 65px;
    }
    #sagaexplicacao{
        font-size: 20px;
        width: 70%;
        text-align: left;
    }
    #saga img{
    padding-bottom: 55px;
    width: 90%;
    }
    #varinha{
        display: none;
    }
    #aberturahogwarts{
        font-size: 20px;
        transform: translateY(0%);
        width: 95%;
        justify-self: center;
    }
    #hogwarts{
        width: 100%;
    }
    #rowling{
        display:grid;
        width: 100%;
        height: 100%;
        gap: 25px;
    }
    #rowlingimg{
        transform: translateX(0%);
        padding-top: 40px;
    }
    #rowlingnome{
        width: 100%;
        transform: translateX(0%);
    }
    #nomeprincipal{
        font-size: 65px;
    }
    #falaevida{
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 100%;
        height: auto;
        width: auto;
    }
    #falas, #vida{
        width: 100%;
        height: 100%;
    }
    #frases2, #suavida{
        padding-bottom: 25px;
        text-align: left;
    }
}