*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: var(--cinza);
  }

:root{
    --corprimaria: #181828;
    --cinza: #D9D9D9;

}

header{
    display: flex;
    justify-content: space-between;
    background-color: var(--corprimaria);
    height: 5rem;
    align-items: center;
    padding: 20px 20rem;
}

#logo{
    color: white;
}

#menu{
    width: 35rem;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    
}
  
#menu a{
    
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    cursor: pointer;
}

.explicacao{
    margin: 50px;
    margin-bottom: -30px;
}
#background{
    background-image: url("/img/8-harrypottermagia.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#saga{
    height: 65rem;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    color: white;
}
#saga img{
    padding-bottom: 55px;
}
#sagatitulo{
    font-size: 40px;
}
#sagaexplicacao{
    width: 40%;
    font-size: 20px;
}
.vermais{
    margin: 50px;
    margin-bottom: -30px;
}
#aberturahogwarts{
    font-weight: bold;
    justify-items: center;
    align-items: center;
    justify-content: center;
    height: 200px;
    display: grid;
}
#varinha{
    position: absolute;
    justify-items: center;
    align-items: center;
    justify-content: center;
    transform: translateY(-35%);
    
}