*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'poppins';
    background-color: var(--cinza);
}

:root{
    --corprimaria: #181828;
    --cinza: #D9D9D9;
    --corfilmes: rgba(24, 24, 40, 0.603);
    --cinzaescuro: #2B2B2B;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: var(--corprimaria);
    height: 5rem;
    align-items: center;
    justify-content: center;
}

#logo{
    color: white;
    font-family: 'Princess Sofia';
    font-size: 35px;
    font-weight: normal;
    padding-right: 25px;
    
}

#menu{
    width: 35rem;
    display: flex;
    gap: 25px;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
#menu img{
    transform: translateY(20%);
    height:30px;
}
#links{
    display: flex;
    justify-content: center;
}
#links a{
    cursor: pointer;
    
}
#links li{
    transition: transform 0.3s ease;
}
#links li:hover{
    transform: scale(1.2);
}
#filmes{
    background-image: url("/img/28-paisagemhogwartsfilmes.png");
    height: 45rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    gap:100px;
}
#setadireita, #setadireitamob{
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: #18182800;
    border-radius: 15px;
    border: 0px;
}
#setadireitamob, #setaesquerdamob{
    display: none;
}
#setadireita:hover, #setadireitamob:hover{
    transform: scale(1.5);
}
#setaesquerda, #setaesquerdamob{
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: #18182800;
    border-radius: 15px;
    border: 0px;
}
#setaesquerda:hover, #setaesquerdamob:hover{
    transform: scale(1.5);
}
#filmesgrid{
    display:grid;
    gap: 50px;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
#titulofilme{
    color:white;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    background-color: var(--corfilmes);
    width: 70rem;
    height: 5rem;
    font-size: 27px;
    border-radius: 15px;
}
#mostrarfilme{
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#capas{
    background-color: var(--corfilmes);
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 30rem;
    border-radius: 15px;
}
#capafilme{
    width: 20rem;
}
#dadosfilme{
    color: var(--cinza);
    width: 50rem;
    height: 27rem;
    background-color: var(--corfilmes);
    border-radius: 15px;
    display: grid;
    justify-content: left;
    
}
#rating{
    display: flex;
    justify-items: center;
    justify-content: left;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    transform: translateX(5%);
}
#dados{
    font-size: 25px;
    transform: translateX(6%);
}

#resumo{
    background-color: var(--corprimaria);
    height: 100%;
    border-top: 1px solid;
    border-color: var(--cinza);
    color: var(--cinza);
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
    border-color: var(--cinza);
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 25px;
}
#tituloresumo{
    display:flex;
    font-size: 24px;
}
#resumoh1{
    border-bottom: 1px solid;
    border-color: var(--cinza);
    width: 50rem;
    /* essa é a linha embaixo do titulo resumo */
}
#filmeresumo{
    text-align: justify;
    width: 50rem;
    font-size: 18px;
    padding-left: 40px;
    transform: translateX(-5%);
    
}
#atores{
    background-color: var(--corprimaria);
    height: 80rem;
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
#principalatorestitulo{
    color: var(--cinza);
    font-family: 'jua';
    font-size: 35px;
}
#principaisatores{
    background-color: var(--cinzaescuro);
    height: 70rem;
    width: 70rem;
    border-radius: 15px;
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-color: var(--cinza);
}
#atoresflex{
    display: flex;
    gap: 20px;
}
#caixaator{
    background-color: white;
    width: 15rem;
    height: 30rem;
    border-radius: 16px;
    display:grid;
    
}
#caixaator img{
    height: 25rem;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#caixaator p{
    display: flex;
    padding-left: 25px;
}

#atoressec{
    background-color: var(--corprimaria);
    height: 80rem;
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
#secundarioatores{
    background-color: var(--cinzaescuro);
    height: 70rem;
    width: 70rem;
    border-radius: 15px;
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-color: var(--cinza);
}
#secundarioatorestitulo{
    color: var(--cinza);
    font-family: 'jua';
    font-size: 35px;
}











footer{
    background-color: var(--corprimaria);
    color: var(--cinza);
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    height: 13rem;
    font-family: 'princess sofia';
    font-weight: normal;
    font-size: 20px;
    border-top: 1px solid;
}
#redes{
    cursor: pointer;
    display: flex;
    gap: 25px;
    height: 50px;
    width: 50px;
    transform: translateX(-145%);
}
#redes img{
    transition: transform 0.3s ease;
}
#redes img:hover{
    transform: scale(1.5);
}

@media(max-width: 700px){
    body{
        width: 100%;
    }
    header{
        height: auto;
    }
    #logo{
        padding-right: 0px;
    }
    #menu{
        flex-direction: column;
    }
    #links{
        padding-bottom: 20px;
        padding-left: 25px;
        justify-content: space-between;
    }
    #filmes, #filmesgrid, #mostrarfilme, #dadosfilme{
        width: 100%;
        flex-direction: column;
        height: 100%;
    }
    #filmes{
        padding-bottom: 25px;
    }
    #filmesgrid, #mostrarfilme, #dadosfilme{
        width: 95%;
        justify-content: center;
    }
    #dadosfilme{
        gap: 25px;
        padding-bottom: 25px;
    }
    #titulofilme{
        width: 100%;
        justify-self: center;
    }
    #estrelas{
        display: flex;
        height: 2rem;
    }
    #setadireitamob, #setaesquerdamob{
        display: flex;
    }
     #setadireita, #setaesquerda{
        display: none;
    }
    #setasemmobile{
        display: flex;
        gap: 70px;
    }
    #capas{
        width: 90%;
        height: 50rem;
    }
    #resumo{
        width: 100%;
        flex-direction: column;
        height: 100%;
        padding-bottom: 25px;
        padding-top: 25px;
    }
    #tituloresumo, #resumoh1{
        width: 100%;
        height: 100%;
    }
    #resumoh1{
        justify-content: center;
    }
    #filmeresumo{
        transform: translateX(0%);
        padding-left: 0px;
        width: 90%;
        height: 100%;
        padding-top: 25px;
    }
    #atores, #principaisatores, #principalatorestitulo, #atoressec, #secundarioatores{
        width: 100%;
        height: 100%;
    }
    #atores, #atoressec{
        gap: 25px;
        padding-bottom: 25px;
    }
    #principalatorestitulo{
        font-size: 28px;
    }
    #secundarioatorestitulo{
        font-size: 26px;
    }
    #atoresflex{
        width: 100%;
        flex-direction: column;
        padding-bottom: 25px;
        padding-top: 25px;
    }
}









