*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'poppins';
    background-color: var(--cinza);
  }

:root{
    --corprimaria: #181828;
    --cinza: #D9D9D9;
     --corfilmes: rgba(24, 24, 40, 0.603);
    --cinzaescuro: #2B2B2B;
    
    
}

header{
    display: flex;
    justify-content: center;
    background-color: var(--corprimaria);
    height: 5rem;
    align-items: center;
}

#logo{
    color: white;
    font-family: 'Princess Sofia';
    font-size: 35px;
    font-weight: normal;
    padding-right: 25px;
}

#menu{
    width: 35rem;
    display: flex;
    gap: 25px;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
#menu img{
    transform: translateY(20%);
    height:30px;
}
#links{
    display: flex;
    justify-content: center;
}
#links a{
    cursor: pointer;
    
}
#links li{
    transition: transform 0.3s ease;
}
#links li:hover{
    transform: scale(1.2);
}





#hogwarts-intro{
    background-image: url("/img/3-paisagemhogwarts.png");
    height: 30rem;
    width: 100%;
    display: grid;
    justify-content: center;
    justify-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#card-principal{
    display:flex;
    align-items: center;
    background-color: #181828;
    justify-content: center;
    justify-self: center;
    color: var(--cinza);
    border-radius: 15px;
    height: 10rem;
    width: 60rem;
    transform: translateY(75%);
    
}
#p-explicacao{
    justify-content: center;
    justify-self: center;
    display:flex;
    align-items: center;
    font-size: 18px;
}
#spoiler{
    background-color: var(--cinzaescuro);
    color: var(--cinza);
    justify-content: center;
    align-items: center;
    justify-self: center;
    display:flex;
    width: 100%;
    height: 2rem;
    font-size: 20px;
}
#hogwarts-explicacao{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    gap:100px;
    border-bottom: 5px solid;
}
#texto-explicativo{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    width: 40%;
    font-size: 30px;
    text-align: center;
}
#alunos{
    transform: translateY(1%)
}
#ascasas{
    display:grid;
    justify-content: center;
    align-items: center;
    justify-self: center;
    height: 100%;
    gap: 10px;
}
#casastitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    font-size: 80px;
    font-family: "Julius Sans One";
    font-weight: normal;
}
#introcasas{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    font-weight: bold;
    width: 80%;
    font-size: 30px;
}
#cards-main{
    display: grid;
    justify-content: center;
    align-items: center;
    justify-self: center;
    gap: 150px;
    padding-top: 100px;
}
.cards-casas{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    gap: 150px;
}
#nomecasas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center; 
    gap: 50px;
    font-size: 40px;
    font-weight: bold;
}
.grifinoria{
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: #810D20;
    width: 30rem;
    height: 30rem;
    border-radius: 30px;
    box-shadow:  0px 0px 10px 15px #EA9000;
    color: var(--cinza);
}
.sonserina{
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: #1B3D00;
    width: 30rem;
    height: 30rem;
    border-radius: 30px;
    box-shadow:  0px 0px 10px 15px #A3A3A3;
    color: var(--cinza);
}
.lufalufa{
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: #EA9000;
    width: 30rem;
    height: 30rem;
    border-radius: 30px;
    box-shadow:  0px 0px 10px 15px var(--cinzaescuro);
    color: var(--cinza);
}
.corvinal{
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: #004570;
    width: 30rem;
    height: 30rem;
    border-radius: 30px;
    box-shadow:  0px 0px 10px 15px #2b2b2b9f;
    border: 5px solid;
    border-color: white;
    color: var(--cinza);
}
#casastitulos{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    font-size: 25px;
    font-family: 'IM Fell Double Pica SC'
}
#textocasas{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 90%;
    font-size: 30px;
}
/*Começo da confusão. Vou separar por partes.*/
#titulo{
    background-color: var(--corprimaria);
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    font-size: 50px;
    color: var(--cinza);
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: var(--cinza);
}

#fatos{
    background-color: var(--corprimaria);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
}
#imgscards, #imgscardstop{
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    color: var(--cinza);
    width: 30%;
}
#paragrafofatos{
    width: 60%;
}
#varinhastitulo{
    font-family: 'Irish Grover';
}

/*quadribol que tem seus propios ids pq decidiram que ele vai ter cinco cards :(*/
#quadriboltitulo{
    font-family: 'Island Moments';
    font-size: 75px;
}
#quadrifatos, #quadrifatos2{
    background-color: var(--corprimaria);
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
}
#quadrifatos2{
    display: flex;
    gap: 40px;
}

/*cores.*/

#vermelho1{
    display: flex;
    justify-content: left;
    align-items: left;
    justify-items: center;
    width: 10%;
    height: 4.7rem;
    background-color: #810D20;
    
}
#amarelo1{
    display: flex;
    justify-content: center;
    align-items: left;
    justify-items: center;
    width: 10%;
    height: 4.7rem;
    background-color: #EA9000;
    transform: translateX(-115%);
}
#vermelho2{
    display: flex;
    justify-content: center;
    align-items: right;
    justify-items: center;
    width: 10%;
    height: 4.7rem;
    background-color: #810D20;
    transform: translateX(115%);
}
#amarelo2{
    display: flex;
    justify-content: center;
    align-items: right;
    justify-items: center;
    width: 10%;
    height: 4.7rem;
    background-color: #EA9000;
}
#verde1{
    display: flex;
    justify-content: center;
    align-items: left;
    justify-items: center;
    width: 10%;
    height: 4.7rem;
    background-color: #1B3D00;
}
#verde2{
    display: flex;
    justify-content: center;
    align-items: right;
    justify-items: center;
    width: 10%;
    height: 4.7rem;
    background-color: #1B3D00;
    transform: translateX(115%)
}
#cinza1{
    display: flex;
    justify-content: center;
    align-items: left;
    justify-items: center;
    width: 10%;
    height: 4.7rem;
    background-color: var(--cinza);
    transform: translateX(-115%);
}
#cinza2{
    display: flex;
    justify-content: center;
    align-items: right;
    justify-items: center;
    width: 10%;
    height: 4.7rem;
    background-color: var(--cinza);
}
#amarquadri1{
    display: flex;
    justify-content: center;
    align-items: left;
    justify-items: center;
    width: 10%;
    height: 4.7rem;
    background-color: #EA9000;
}
#amarquadri2{
    display: flex;
    justify-content: center;
    align-items: right;
    justify-items: center;
    width: 10%;
    height: 4.7rem;
    background-color: #EA9000;
}
#preto1{
    display: flex;
    justify-content: center;
    align-items: left;
    justify-items: center;
    width: 10%;
    height: 4.7rem;
    background-color: black;
    transform: translateX(-115%);
}
#preto2{
    display: flex;
    justify-content: center;
    align-items: right;
    justify-items: center;
    width: 10%;
    height: 4.7rem;
    background-color: black;
    transform: translateX(115%)
}











footer{
    background-color: var(--corprimaria);
    color: var(--cinza);
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    height: 13rem;
    font-family: 'princess sofia';
    font-weight: normal;
    font-size: 20px; 
    border-top: 5px solid;
    border-color: var(--cinza);
}
#redes{
    cursor: pointer;
    display: flex;
    gap: 25px;
    height: 50px;
    width: 50px;
    transform: translateX(-145%);
}
#redes img{
    transition: transform 0.3s ease;
}
#redes img:hover{
    transform: scale(1.5);
}

@media(max-width: 700px){
    body{
        width: 100%;
    }
    header{
        height: auto;
    }
    #logo{
        padding-right: 0px;
    }
    #menu{
        flex-direction: column;
    }
    #links{
        padding-bottom: 20px;
        padding-left: 25px;
        justify-content: space-between;
    }
    #card-principal, #p-explicacao{
        width: 95%;
    }
    #p-explicacao{
        text-align: left;
    }
    #hogwarts-explicacao{
        gap: 0px;
    }
    #texto-explicativo{
        width: 90%;
        font-size: 25px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    #alunos{
        display: none;
        transform: translateY(0%)
    }
    #ascasas{
        width: 100%;
        height: 100%;
        gap: 25px;
        padding-bottom: 25px;
    }
    #introcasas{
        width: 80%;
        font-size: 25px;
        padding-bottom: 25px;
    }
    .cards-casas{
        flex-direction: column;
    }
    .grifinoria, .sonserina, .corvinal, .lufalufa{
        width: 90%;
    }
    #titulo{
        width: 100%;
        height: 100%;
        justify-content: center;
    }
    #verde1, #verde2, #cinza1, #cinza2, #vermelho1, #vermelho2, #amarelo1, #amarelo2, #preto1, #preto2, #amarquadri1, #amarquadri2{
        display: none;
        transform: translateX(0%);
    }
    #fatos, #quadrifatos{
        flex-direction: column;
        gap: 35px;
    }
    #imgscards, #imgscardstop{
        gap: 45px;
        width: 100%;
        border-top: 1px solid;
    }
    #imgscardstop{
        border-top: 0px solid;
    }
    #imgscards img{
        padding-top: 25px;
    }
    #paragrafofatos{
        width: 90%;
    }
    #quadrifatos2{
        flex-direction: column;
    }
}
